<!DOCTYPE html>

<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
        {% endblock %}

        <!-- bootstrap links -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">

        {% if title %}
          <title>SPLIT - {{ title }}</title>
        {% else %}
          <title>SPLIT</title>
        {% endif %}
        
    </head>
    <body class="bg-light">
    <!-- Navigation bar -->
      <header>
        <nav class="navbar">
          <div class="nav_logo"><a href="/">SPLIT</a></div>
          {% if current_user.is_authenticated %}
          <div class="nav_menu bottom me-auto">
            <ul class="nav_list">
              <li class="nav_item"><a href="{{ url_for('home') }}" class="all {{ 'active' if active_page == 'overview' }}">Overview</a></li>
              <li class="nav_item"><a href="{{ url_for('members') }}" class="all {{ 'active' if active_page == 'members' }}">Members</a></li>
              <li class="nav_item"><a href="{{ url_for('transactions') }}" class="all {{ 'active' if active_page == 'transactions' }}">Transactions</a></li>
            </ul>
          </div>

          <div class="nav_menu top">
            <ul class="nav_list">
              <li class="nav_item"><a href="{{ url_for('login')}}" class="{{ 'active' if active_page == 'login' }}">Profile</a></li>
              <li class="nav_item"><a href="{{ url_for('logout')}}">Logout</a></li>
            </ul>
          </div>

          {% else %}
          <div class="nav_menu">
            <ul class="nav_list">
              <li class="nav_item"><a href="{{ url_for('login')}}" class="{{ 'active' if active_page == 'login' }}">Sign in</a></li>
              <li class="nav_item"><a href="{{ url_for('signup')}}" class="{{ 'active' if active_page == 'signup' }}">Sign up free</a></li>
            </ul>
          </div>
          {% endif %}
        </nav>
      </header>

      <!-- Flash messages -->
      {% with messages = get_flashed_messages("with categories=true") %}
        {% if messages %}
          {% set margin = 'no' %}
          {% for category, message in messages %}
      <div class="container text-center pt-3">
        <div class="row">
          <div class="col">

            <div class="alert alert-{{category}} alert-dismissible fade show mb-0" role="alert">
              {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            
          </div>
        </div>
      </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <!-- Content -->
      <main class="container-fluid d-grid pt-2">
        <div class="row">
          {% block main %}{% endblock %}
        </div>

      </main>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>