{% extends "layout.html" %}
{% set active_page = 'overview' %}


{% block main %}
    <div class="col-md-10 mx-auto">

        <!-- <div class="row">
            <div class="col-md-7">asfas</div>
            <div class="col-md-5">afasf</div>
        </div> -->


        <!-- form -->
        <div class="row">
            <div class="col-sm-3 ms-auto mt-2">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                        {% if form.time.errors %}
                            {{ form.time(class="form-select select_menu is-invalid", id="FloatingTimeInvalid", onchange="this.form.submit()", placeholder="Username") }}
                            <div class="invalid-feedback">
                                {% for error in form.time.errors %}
                                    <span><small> {{ error }} </small></span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.time(class="form-select select_menu", id="FloatingTime", onchange="this.form.submit()") }}
                        {% endif %}
                    </form>
            </div>
        </div>
        
       <!-- cards -->
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-1">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title display-6 text-center text-success fw-bold">${{ -(data_overview.income)|int }}</h3>
                        <h5 class="card-text text-center text-success fw-bold"><small>Total recieved</small></h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title  display-6 text-center text-danger fw-bold">${{ (data_overview.expense)|int }}</h3>
                        <h5 class="card-text text-center text-danger fw-bold"><small>Total spending</small></h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title  display-6 text-center text-warning fw-bold">${{ -(data_overview.balance)|int }}</h3>
                        <h5 class="card-text text-center text-warning fw-bold"><small>Balance</small></h5>
                    </div>
                </div>
            </div>

        </div>

        
        <div class="row row-cols-1 g-4 mt-1">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                    Members
                    </div>
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item py-3">
                            <div class="row">
                                <div class="col text-start"></div>
                                <div class="col text-end fw-bold text-danger">Spent</div>
                                <div class="col text-end fw-bold text-success">Paid</div>
                                <div class="col text-end fw-bold d-grid align-items-center">Balance</div>
                            </div>
                        </li>

                        {% for member, member_data in members_data.items() %}
                            
                        
                            <li class="list-group-item py-3">
                                <div class="row">
                                    <div class="col text-start fw-bold">{{member}}</div>
                                    <div class="col text-end text-danger fw-bold">${{ '%0.2f'|format(member_data.spent|float) }} </div>
                                    <div class="col text-end text-success fw-bold">${{'%0.2f'|format(-(member_data.income)|float) }}</div>
                                    {% if member_data.balance >= 0 %}
                                        <div class="col text-end text-danger fw-bold d-grid align-items-center">${{'%0.2f'| format(member_data.balance|float) }}</div>
                                    {% else %}
                                        <div class="col text-end text-success fw-bold d-grid align-items-center">${{'%0.2f'| format(-(member_data.balance)|float) }}</div>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>





    </div>

          
{% endblock %}
