{% extends "layout.html" %}
{% set active_page = 'transactions' %}

{% block main %}

<div class="col-md-10 mx-auto mt-4">
  <form class="border bg-white p-3 mb-3" action="" method="post">
    {{ form.hidden_tag() }}

    <div class="row">
      
      <div class="col-md-2 my-2 ">
        <div class="form-floating">
          {% if form.type.errors %}
              {{ form.type(class="form-select select_menu is-invalid", id="FloatingTypeInvalid", placeholder="Username") }}
              {{ form.type.label(for="FloatingTypeInvalid") }}
              <div class="invalid-feedback">
                  {% for error in form.type.errors %}
                      <span><small> {{ error }} </small></span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.type(class="form-select select_menu", id="FloatingType", placeholder="type") }}
              {{ form.type.label(for="FloatingType") }}
          {% endif %}
        </div>
      </div>

      <div class="col-md-4 my-2">
        <div class="form-floating">
          {% if form.label.errors %}
              {{ form.label(class="form-control is-invalid", id="FloatingLabelInvalid", placeholder="Note") }}
              {{ form.label.label(for="FloatingLabelInvalid") }}
              <div class="invalid-feedback">
                  {% for error in form.label.errors %}
                      <span><small> {{ error }} </small></span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.label(class="form-control", id="FloatingLabel", placeholder="Note") }}
              {{ form.label.label(for="FloatingLabel") }}
          {% endif %}
        </div>
      </div>

      <div class="col-md-2 my-2">
        <div class="form-floating">
          {% if form.amount.errors %}
              {{ form.amount(class="form-control is-invalid", id="FloatingAmountInvalid", placeholder="Username") }}
              {{ form.amount.label(for="FloatingAmountInvalid") }}
              <div class="invalid-feedback">
                  {% for error in form.amount.errors %}
                      <span><small> {{ error }} </small></span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.amount(class="form-control", id="FloatingAmount", placeholder="Amount") }}
              {{ form.amount.label(for="FloatingAmount") }}
          {% endif %}
        </div>
      </div>

      <div class="col-md-3 my-2">
        <div class="form-floating">
          {% if form.date.errors %}
              {{ form.date(class="form-control is-invalid", id="startDateInvalid") }}
              {{ form.date.label(for="startDateInvalid") }}
              <div class="invalid-feedback">
                  {% for error in form.date.errors %}
                      <span><small> {{ error }} </small></span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.date(class="form-control", id="startDate") }}
              {{ form.date.label(for="startDate") }}
          {% endif %}
        </div>
      </div>

      <div class="col-md-1 d-grid mx-auto py-0 my-2">
          {{ form.submit(class="form_submit btn btn-primary d-block") }}
      </div>

    </div>


  </form>


  <div class="table-responsive-md mt-5">
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Transaction</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Date and Time</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in user_transactions %}
        <tr>
          <td>{{ transaction.transaction_name }}</td>
          {% if transaction.transaction_type == 'Ex' %}
            <td class="text-danger">Expense</td>
          {% else %}
            <td class="text-success">Income</td>
          {% endif %}
          <td>${{ transaction.amount }}</td>
          <td>{{ transaction.date }}</td>
          <td class="text-center">
            <a href="{{ url_for('transactions') }}/delete/{{transaction.id}}" class="btn btn-outline-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>  
    </table>
</div>


</div>





{% endblock %}