$primary-color: #5B58EC;
$complementary-color: #FFF;
$accent-color-1: #102A57;
$accent-color-2: #0ABB79;

$text-color-white: #FFF;
$text-color-black: #1010;

$text_weights:(
    "regular" : 400,
    "medium" : 600,
    "bold" : 800
); 

$text_size:(
    "regular" : 1.5rem,
    "medium" : 2rem
);

@function f_weight($weight){
    @return map-get($text_weights, $weight)
};

@function f_size($size){
    @return map-get($text_size, $size)
};

.navigation{
    height: 100vh;
    padding: 2rem;
    background-color: $primary-color;
    -webkit-box-shadow: 2px 0px 12px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 2px 0px 12px 0px rgba(0,0,0,0.20);
    box-shadow: 2px 0px 12px 0px rgba(0,0,0,0.20);

    @media screen and (max-width: 600px){
        display: none;
    }

    .brand{
        color: $text-color-white;
        margin-bottom: 2rem;
        font-weight: f_weight(bold);
        font-size: f_size(regular);
    }

    .nav_items{

        margin: 0rem;
        padding: 0rem;

        
        .nav_item{
            list-style: none;

            .active{
                background-color: $accent-color-1;
                border-radius: 0.5rem;
            }

            a{
                display: flex;
                align-items: center;
                margin-top: 0.5rem;
                padding: 1rem;
                text-decoration: none;
                color: $text-color-white;

                i{
                    font-size: 1.2rem;
                }

                &:hover{
                    background-color: $accent-color-1;
                    border-radius: 0.5rem;
                }

                .link_name{
                    padding-left: 1rem;
                }
            }
        }
    }

}

.content-space{

    .space-1{
        height: 100vh;
        padding: 1rem;
    }

    .space-2{
        height:100vh;
        padding: 1rem;
    }

    .card{
        border-radius: 0.2rem;
    }

    .green{
        color: $accent-color-2;
        border-color: $accent-color-2;
    }
    
    .red{
        color: rgb(233, 72, 72);;
        border-color: rgb(233, 72, 72);
    }

    .orange{
        border-color: orange;
        color: orange;
    }

    .list{

        ul{

            li{
                list-style: none;
                padding: 1rem;
            }
        }
    }

    .button{
        background-color: $primary-color;
        border: none;
        color: #FFF;
        font-weight: f_weight(medium);
        border-radius: 5px;
        padding: 0.7rem 0rem;

        &:hover{
            background-color: $accent-color-1;
        }
    }
}

