<!DOCTYPE html>

<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- bootstrap links -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">

        <link href="/static/styles.css" rel="stylesheet">

        {% if title %}
          <title>SPLIT - {{ title }}</title>
        {% else %}
          <title>SPLIT</title>
        {% endif %}
        
    </head>
    <body>
    <!-- Navigation bar -->
      <header>
        <nav class="navbar">
          <div class="container-fluid py-0 my-0">
            <div class="brand"><a href="/">SPLIT</a></div>

            {% if session["user_id"] %}
            <div class="logged-menu">
              <ul class="nav-items">
                <li class="nav-item"><a href="{{ url_for('home') }}" class="{{ 'active' if active_page == 'overview' }}">Overview</a></li>
                <li class="nav-item"><a href="#" class="{{ 'active' if active_page == 'budget' }}">Budget</a></li>
                <li class="nav-item"><a href="#" class="{{ 'active' if active_page == 'transactions' }}">Transactions</a></li>
              </ul>
            </div>

            <div class="navbar-items">
              <ul class="nav-items">
                <li class="nav-item"><a href="{{ url_for('login')}}" class="{{ 'active' if active_page == 'login' }}">Profile</a></li>
              </ul>
            </div>

            {% else %}
            <div class="navbar-items">
              <ul class="nav-items">
                <li class="nav-item"><a href="{{ url_for('login')}}" class="{{ 'active' if active_page == 'login' }}">Sign in</a></li>
              </ul>
            </div>
            {% endif %}
          </div>
        </nav>
      </header>

      <main class="container-fluid py-4 d-grid justify-content-center">

        <div class="row">
            {% with messages = get_flashed_messages("with categories=true") %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="d-block alert alert-{{category}} text-center"> {{message}} </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>

        <div class="row">
          {% block main %}{% endblock %}
        </div>

      </main>
    </body>
</html>